@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Inter:wght@400;600;700&family=Oswald:wght@500;600&family=Tiro+Bangla&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
textarea {
  resize: none;
}